:root {
	--header-height: 3rem;
	--footer-height: 5rem;

	--font-size-large: 2.3rem;
	--font-size-mid: 1.7rem;
	--font-size-small: 1.3rem;
	--font-size-x-small: 1.1rem;
	--font-size-xx-small: 0.9rem;
	--font-size-xxx-small: 0.7rem;

	--space-xx-small: 0.4rem;
	--space-x-small: 0.8rem;
	--space-small: 1.2rem;
	--space-mid: 1.6rem;
	--space-large: 2rem;
	--space-x-large: 2.4rem;
	--space-xx-large: 3.2rem;

	--color-primary: #6282e3;
}

body {
	font-family: 'Pretendard';
}
