.bs {
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100%;
	background-color: #fff;
	border-radius: 16px 16px 0 0;

	& .bs-wrapper {
		height: 50vh;

		display: flex;
		flex-direction: column;
		gap: var(--space-xx-small);

		& .bs-top-btn {
			margin: 1rem;
			display: flex;
			justify-content: flex-end;
		}

		& .bs-content {
			padding: 0 1rem;
		}

		& .bs-bottom {
			width: 100%;
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1rem;
			box-sizing: border-box;
		}
	}
}

.popup {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: var(--space-mid);
	border-radius: var(--space-small);
	width: calc(100% - 4rem);
	//height: auto;
	min-height: 180px;
	box-sizing: border-box;
	background-color: #fff;

	& .popup-content {
	}

	& .btn-wrapper {
		display: flex;
		gap: var(--space-xx-small);
	}
}
